#module_10026{
    border: 0px solid black; 
    position: relative; 
    box-sizing: border-box; 
    display: flex; 
    -webkit-box-orient: vertical; 
    flex-direction: column; 
    align-content: flex-start; 
    flex-shrink: 0;
}
