.searchItemImgDiv{
    border: 0px solid black; 
    position: relative; 
    box-sizing: border-box; 
    display: flex; 
    -webkit-box-orient: vertical; 
    flex-direction: column; 
    align-content: flex-start; 
    flex-shrink: 0; 
    height: 122px; 
    width: 125px; 
    background-image: url( '../../assets/list001.jpg'); 
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
}
.searchIcon
{
    width: 26px;
    height: 26px;
    margin: 4px;
    background: url("../../assets/search.png") no-repeat;
    display: inline-block;
    background-size: 100%;
}
.searchInput{
    border: none;
    display: inline-block;
    font-size: 13px;
    width: 280px;
    vertical-align: middle;
    color: #666;
    height: 30px;
    margin-top: -30px;
}